body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(to bottom right, #39bdcf, #343b2d, #b4b910);
}


.container {
    width: 350px; /* Increased width */
    padding: 30px; /* Increased padding */
    background-color: transparent; /* Transparent background */
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: none; /* Hide labels */
}

.form-group input {
    width: 92%;
    padding: 12px; /* Increased padding */
    background-color: transparent; /* Make the input field transparent */
    border: 1px solid white; /* Set border to white */
    border-radius: 25px; /* Rounded corners */
    margin-bottom: 10px;
    color: white; /* Set text color to white */
}

.form-group button {
    width: 100%;
    padding: 12px; /* Increased padding */
    background-color: white;
    color: blue;
    border: none;
    margin-bottom: 10px;
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    font-weight: bold;
    vertical-align: top; /* Align the button with the top of the input fields */
}

.social-login {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.social-login span {
    display: block; /* Make the text a block element */
    margin-bottom: 10px; /* Add some space between text and images */
}

.social-login .social-icons {
    display: flex; /* Use flexbox to arrange images horizontally */
    justify-content: center; /* Center images horizontally */
}

.social-login img {
    width: 30px;
    height: 30px;
    margin: 0 5px; /* Add some space between images */
    cursor: pointer;
}
.top-image {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add some space between the image and the form */
    display: block; /* Ensure the image behaves as a block element */
    margin-left: auto; /* Align to the right */
    margin-right: auto; /* Align to the left */
    text-align: center; /* Center horizontally */
}


